<include file="Public:header"/>
<div class="page-container"> 
  <!-- BEGIN SIDEBAR --> 
  <include file="Public:sidebar" /> 
  <!-- END SIDEBAR --> 
  <!-- BEGIN CONTENT -->
    <style>
        .table-scrollable > .table > thead > tr > th, .table-scrollable > .table > tbody > tr > th, .table-scrollable > .table > tfoot > tr > th, .table-scrollable > .table > thead > tr > td, .table-scrollable > .table > tbody > tr > td, .table-scrollable > .table > tfoot > tr > td {
            white-space: initial;
        }
        b, strong {
            font-weight: 400;
        }
        ul{padding: 0}
    </style>
  <div class="page-content-wrapper">
    <div class="page-content"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12"> 
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> {$meta_title}  </h3>
          <ul class="page-breadcrumb breadcrumb">
            <!-- <li> <a href="javascript:void(0);" style="font-size: 13px">{$meta_title_top}</a> <i class="fa fa-angle-right"></i> </li> -->
            <li>   </li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet">
            <div class="portlet-body">
              <div class="table-container">

                <div class="table-actions-wrapper"> <span> </span>
                <select
                        class="form-control input-inline input-small input-sm select-batch">
                    <option value="0">批量操作</option>
                    <option value="1">批量删除</option>
                </select>
                    <button class="btn btn-sm green excel"><i class="fa fa-plus"></i>导入Excel</button>
                    <button class="btn btn-sm green add-btn add-goods"  data-toggle="modal"><i class="fa fa-plus"></i>添加题目</button>
                </div>
                <table class="table table-bordered table-striped table-hover" style="font-size: 1.3px;" id="datatable">
                  <thead>
                    <tr class="heading" role="row">
                        <th width="3%"><input class="group-checkable" type="checkbox"></th>
                        <th width="2%">试题类型</th>
                        <th>试题题目</th>
                        <th width="5%">分数</th>
                        <th width="17%">选项</th>
                        <th width="3%">答案</th>
                        <th width="7%">答案解释</th>
                        <th width="8%">创建时间</th>
                        <th width="7%">操作</th>
                    </tr>
                    <tr role="row" class="filter">
                        <th></th>
                        <th><select name="que_type" class="form-control form-filter select2 input-sm">
                            <option value="">全部</option>
                            <option value="1">单选</option>
                            <option value="2">多选</option>
                            <option value="3">判断</option>
                        </select></th>
                        <th><input type="text" class="form-control form-filter input-sm" name="que_title"/></th>
	                    <th><input type="text" class="form-control form-filter input-sm" name="que_score"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
	                    <th></th>
	                    <th>
	                       <div class="btn-group">
							<a class="btn btn-xs filter-submit btn-default">
								<i class="fa fa-search"></i> 搜索
							</a>
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-xs" type="button"><i class="fa fa-angle-down"></i></button>
							<ul role="menu" class="dropdown-menu pull-right">
								<li>
									<a href="javascript:void(0);" class="filter-cancel">重置</a>
								</li>
							</ul>
						</div>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                  <div class="form-actions fluid">

                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
    <include file="Public:model" />
    <script>

            $(function(){
                //增加
                $('.edit-goods').live('click',function () {
                    var model = $('#myModal');
                    var obj=Object.create(Editer);
                    var url = $(this).attr('href');

                    obj.Ajax(url,function (data) {

                            model.find('#add-address').attr('action',"{:U('save')}");
                            model.find('.modal-title').html("编辑考题");
                            model.find('.btn-primary').html("保存考题");
                            model.find('.modalbody').html('');

                            model.find('.modalbody').append(obj.input('id','package_id',{$_GET['id']},false,true));
                            model.find('.modalbody').append(obj.input('ID：','question_id',data.question_id,false,true));
                            model.find('.modalbody').append(obj.fonteditA('试题题目：','que_title',data.que_title));//添加了一个文字编辑器
                            //model.find('.modalbody').append(obj.inputNumber('分值：','que_score',data.que_score));
                            //model.find('.modalbody').append(obj.Textarea('答案解释：','explain',data.explain));
                        	model.find('.modalbody').append(obj.selectB('选项：','que_type',data.que_type,data.option,'title'));

                            /**
                             * 初始化选项
                             */
                            switch ($("#que_type").val()){
                                case '1':
                                    model.find('#select_exam1').show();
                                    break;
                                case '3':
                                    model.find('#select_exam2').show();
                                    break;
                                case '4':
                                    model.find('#select_exam3').show();
                                    break;
                            }

                            $("#que_type").change(function () {
                                model.find('#select_exam1').hide();
                                model.find('#select_exam2').hide();
                                model.find('#select_exam3').hide();
                                switch ($("#exam_type").val()){
                                    case '1':
                                        model.find('#select_exam1').show();
                                        break;
                                    case '3':
                                        model.find('#select_exam2').show();
                                        break;
                                    case '4':
                                        model.find('#select_exam3').show();
                                        break;
                                }
                            })

                            $("#addItem").click(function () {
                                console.log($("#que_type").val());
                                switch ($("#que_type").val()){
                                    case '1':
                                        var a=$('#select_exam1').children('.input-group').length+1;
                                        model.find('#select_exam1').append(obj.inputChecked(a++))
                                        break;
                                    case '3':
                                        var b=$('#select_exam2').children('.input-group').length+1;
                                        if(b<3){
                                            model.find('#select_exam2').append(obj.inputCheckall(b++))
                                        }
                                        break;
                                    case '4':
                                        var c=$('#select_exam3').children('.input-group').length+1;
                                        //model.find('#select_exam3').append(obj.inputCheckall(c++))
                                        break;
                                }
                            })
                            model.modal();
                            App.unblockUI();
                            $.e_validate.init('#add-address',{modal:model,ignore:''});
                    })
                    return false;
                })

                var chnum=1;
                $('.add-goods').live('click',function () {
                    var model = $('#myModal');
                    var obj=Object.create(Editer);
                    obj.Ajax("{:U('getInfo')}",function (data) {
                        model.find('#add-address').attr('action',"{:U('save')}");
                        model.find('.modal-title').html("添加考题");
                        model.find('.btn-primary').html("立即添加");
                        model.find('.modalbody').html('');
                        model.find('.modalbody').append(obj.input('id','package_id',{$_GET['id']},false,true));
                        model.find('.modalbody').append(obj.fonteditA('试题题目：','que_title'));//添加了一个文字编辑器
                        //model.find('.modalbody').append(obj.inputNumber('分值：','que_score','0'));
                        //model.find('.modalbody').append(obj.Textarea('答案解释：','explain'));
                        var tag_arr=[{'v':'课后练习','k':'课后练习'},{'v':'考试','k':'考试'}]
                        model.find('.modalbody').append(obj.selectB('选项：','que_type'));

                        $("#que_type").change(function () {

                            model.find('#select_exam1').hide();
                            model.find('#select_exam2').hide();
                            model.find('#select_exam3').hide();
                            switch ($("#que_type").val()){
                                case '1':
                                    model.find('#select_exam1').show();
                                    break;
                                case '3':
                                    model.find('#select_exam2').show();
                                    break;
                                case '4':
                                    model.find('#select_exam3').show();
                                    break;
                            }
                            //model.find('#select_exam').html('');
                        })
						
                        $("#addItem").click(function () {
                        	
                            console.log($("#que_type").val());
                            switch ($("#que_type").val()){
                                case '1':
                                    var a=$('#select_exam1').children('.input-group').length+1;
                                    if(a<7){ 
                                    	// A B C D E F
	                                    model.find('#select_exam1').append(obj.inputChecked(a++))
                                    }
                                    break;
                                case '3':
                                    var b=$('#select_exam2').children('.input-group').length+1;
                                    if(b<3){
                                        model.find('#select_exam2').append(obj.inputCheckall(b++))
                                    }
                                    break;
                                case '4':
                                    var c=$('#select_exam3').children('.input-group').length+1;
                                    //model.find('#select_exam3').append(obj.inputCheckall(c++))
                                    break;
                            }

                        })

                        model.modal();
                        App.unblockUI();
    //                    ComponentsEditors.init();
                        $.e_validate.init('#add-address',{modal:model,ignore:''});
                    })

                })

                $('.excel').live('click',function () {
                    var model = $('#myModal');
                    var obj=Object.create(Editer);
                    //obj.Ajax("{:U('getTag')}",function (dataTag) {
                        model.find('#add-address').attr('action',"{:U('impUser')}");
                        model.find('.modal-title').html("导入Excel");
                        model.find('.btn-primary').html("立即导入");
                        model.find('.modalbody').html('');

                        model.find('.modalbody').append(obj.input('id','package_id',{$_GET['id']},false,true));
                        model.find('.modalbody').append(obj.InputFile('import','点击上传Excel'));
                        model.find('.modalbody').append(obj.ExpTemplate("{:U('expUser')}",'下载Excel模版'));
                        
                        //var tag_arr=[{'v':'课后练习','k':'课后练习'},{'v':'考试','k':'考试'}]
                        //model.find('.modalbody').append(obj.select('试题类型：','exa_type',obj.getOption(tag_arr,'v','k',1)));
                        //model.find('.modalbody').append(obj.select('试题标签：','exa_tag',obj.getOption(dataTag,'sec_name','sec_name',1)));
                    //})
                    model.modal();
                    App.unblockUI();
                    //                    ComponentsEditors.init();
                    $.e_validate.init('#add-address',{modal:model,ignore:''});
                })
            });

    </script>
    </div>

    <!-- END CONTENT -->
    <!-- END CONTENT -->
  <script type="text/javascript">
      //图片点击后的方法

		$(function(){

			datatable_init({
				src: $("#datatable"),
				sAjaxSource: "{:U('Question/getQuestionList/package_id/'.$_GET['id'])}",
	            aoColumns:[
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	],
			});

            $('.select-batch').change(function(){
                var type = $(this).val();
                var val=[];
                var oB = $('.checkable');
                for(var i = 0;i<oB.length;i++){
                    if(oB[i].checked){
                        val.push(oB[i].value);
                    }
                }
                msg=['确定要删除已选用户么？'];
                console.log(val);


                Smelly.confirmAlert("{:U('Question/checked')}",msg[type-1],{val:val,type:type},function(data){
                    console.log(data);
                });
                
                $(".select-batch option[value='0']").attr("selected", true);//设置选中
            })
        });
	</script>

</div>

</body>
</html>