<html>
<include file="Public:header"/>

<script src="__STATIC__/metronic/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="__STATIC__/metronic/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="__STATIC__/metronic/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>
<script src="__STATIC__/metronic/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js" type="text/javascript"></script>
<script src="__STATIC__/metronic/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js" type="text/javascript"></script>
<script src="__STATIC__/metronic/scripts/custom/components-editors.js" type="text/javascript"></script>
<script src="SLIKE/dropify-master20160830/dist/js/dropify.js" type="text/javascript"></script>



<link href="__STATIC__/metronic/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
<link href="__STATIC__/metronic/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css"/>
<link href="__STATIC__/metronic/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css" rel="stylesheet" type="text/css"/>
<link href="SLIKE/dropify-master20160830/dist/css/dropify.css" rel="stylesheet" type="text/css"/>

<body>
<div class="page-container"> 
  <!-- BEGIN SIDEBAR --> 
  <include file="Public:sidebar" /> 
  <!-- END SIDEBAR --> 
  <!-- BEGIN CONTENT -->
    <style>
        .table-scrollable > .table > thead > tr > th, .table-scrollable > .table > tbody > tr > th, .table-scrollable > .table > tfoot > tr > th, .table-scrollable > .table > thead > tr > td, .table-scrollable > .table > tbody > tr > td, .table-scrollable > .table > tfoot > tr > td {
            white-space: initial;
        }
        b, strong {
            font-weight: 400;
        }
        ul{padding: 0}
    </style>
  <div class="page-content-wrapper">
    <div class="page-content"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12"> 
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> {$meta_title}  </h3>
          <ul class="page-breadcrumb breadcrumb">
            <li> <a href="javascript:void(0);" style="font-size: 13px">{$meta_title_top}</a> <i class="fa fa-angle-right"></i> </li>
            <li> {$meta_title} </li>
          </ul>

          <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet">
            <div class="portlet-body">
              <div class="table-container">

                <div class="table-actions-wrapper"> <span> </span><button class="btn btn-sm green add-btn add-goods"  data-toggle="modal"><i class="fa fa-plus"></i>添加文章</button></div>
                <table class="table table-bordered table-striped table-hover" style="font-size: 1.3px;" id="datatable">
                  <thead>
                    <tr class="heading" role="row">
                        <th width="30px">编号</th>
                        <th>标题</th>
                        <th width="120px">用户</th>
                        <th width="250px">文章描述</th>
                        <th width="50px">浏览量</th>
                        <th width="100px">所属栏目</th>
                        <th width="50px">排序</th>
                        <th width="110px">创建时间</th>
                        <th width="100px">状态</th>
                        <th width="12%">操作</th>
                    </tr>
                    <tr role="row" class="filter">
                        <th></th>
	                    <th>
                            <input type="text" class="form-control form-filter input-sm" name="title"/>
                        </th>
	                    <th></th>
                        <th><input type="text" class="form-control form-filter input-sm" name="content"/></th>

                        <th> </th>
                        <th><select name="col_id" class="form-control form-filter select2 input-sm">
                            <option value=""><?php echo '所有';?></option>
                            <?php foreach ($colname as $k => $v):?>
                            <option value="<?php echo $v['column_id'];?>"><?php echo $v['col_name'];?></option>
                            <?php endforeach;?>
                        </select></th>
                        <th></th>
                        <th></th>
	                    <th><select name="status" class="form-control form-filter select2 input-sm">
                            <option value=""><?php echo '所有';?></option>
                            
                            <option value="1">禁用</option>
                            <option value="2">启用</option>
               
                        </select></th>
	                    <th>
	                       <div class="btn-group">
							<a class="btn btn-xs filter-submit btn-default">
								<i class="fa fa-search"></i> 搜索
							</a>
							<button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-xs" type="button"><i class="fa fa-angle-down"></i></button>
							<ul role="menu" class="dropdown-menu pull-right">
								<li>
									<a href="javascript:void(0);" class="filter-cancel">重置</a>
								</li>
							</ul>
						</div>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                  <div class="form-actions fluid">
                      <div class="row">
                          <div class="col-md-5">
                              <div class=" col-md-9">

                                  <!--<button class="btn green btn-primary btn-lg edit-address"  data-toggle="modal"><i class="fa fa-check"></i>添加地址1</button>-->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <include file="Public:model" />
    <script>

            $(function(){
                //增加
                $('.edit-goods').live('click',function () {
                    var model = $('#myModal');
                    var obj=Object.create(Editer);
                    var url = $(this).attr('href');

                    obj.Ajax(url,function (data) {

                            model.find('#add-address').attr('action',"{:U('edit')}");
                            model.find('.modal-title').html("编辑文章-"+data.title);
                            model.find('.btn-primary').html("保存文章");
                            model.find('.modalbody').html('');
                            model.find('.modalbody').append(obj.input('ID：','article_id',data.article_id,false,true));
                            model.find('.modalbody').append(obj.input('标题：','title',data.title));
                            model.find('.modalbody').append(obj.input('排序(降序)：', 'sort',data.sort));
//                            model.find('.modalbody').append(obj.input('用户：','user_id',data.nickname,true));

                            model.find('.modalbody').append(obj.Textarea('文章描述：','content',data.content));//添加了一个文字编辑器
                            model.find('.modalbody').append(obj.Dropify('封面图片：', 'article_show',data.show_url));//添加了一个文字编辑器
                            model.find('.modalbody').append(obj.Dropify('文章图片：', 'article_pic',data.info_url));//添加了一个文字编辑器

                            $('.article_pic').dropify({
                                messages: {'default': '点击上传图片','replace': '点击图片上传替换图片','remove':'删除图片','error':'Ooops, something wrong appended.'}}
                            ).on('dropify.beforeClear',function(event, element) {

                                return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                            });
                            $('.article_show').dropify({
                                messages: {'default': '点击上传图片','replace': '点击图片上传替换图片','remove':'删除图片','error':'Ooops, something wrong appended.'}}
                            ).on('dropify.beforeClear',function(event, element) {

                                return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                            });
                            obj.treeConf={
                                    'child':'child',        //option 数组 子键
                                    'pkey':'column_pid',    //option 数组 父字段
                                    'key':'column_id',      //option 数组 主字段
                                    'name':'col_name',      //option 数组 标题字段
                                    'def':data.column_id,              //option 数组 默认值
                                    },
                            model.find('.modalbody').append(obj.select2('栏目：','column_id',obj.getTree2(data.col),'选择产品分类','','multiple'));//添加了一个文字编辑器
                            $('#column_id').select2();
//                            model.find('.modalbody').append(obj.input('浏览量：','page_view',data.page_view));
                            data_pick('release_time');
                            data_pick('end_time');
                            //model.find('.modalbody').append(obj.radio(['是否已采纳：',['已采纳',1],['未采纳',0]],'is_adopted',data.is_adopted));
                            model.modal();
                            App.unblockUI();
                            ComponentsEditors.init();
                            $.e_validate.init('#add-address',{modal:model,ignore:''});
                    })
                    return false;
                })
	
                $('.add-goods').live('click',function () {
                    var model = $('#myModal');
                    var obj=Object.create(Editer);
                    var url = "{:U(getUC)}";

                    obj.Ajax(url,function (data) {
                        model.find('#add-address').attr('action', "{:U('add')}");
                        model.find('.modal-title').html("添加文章");
                        model.find('.btn-primary').html("立即添加");
                        model.find('.modalbody').html('');
                        model.find('.modalbody').append(obj.input('标题：', 'title'));
                        
                        model.find('.modalbody').append(obj.input('排序(降序)：', 'sort','0'));
//                        model.find('.modalbody').append(obj.select('用户：', 'user_id',obj.getOption(data.user,'user_id','nickname')));

                        model.find('.modalbody').append(obj.Textarea('文章描述：', 'content'));//添加了一个文字编辑器
                        obj.inputText='图片比例 - 1:1';
                        model.find('.modalbody').append(obj.Dropify2('封面图片：', 'article_show',''));//添加了一个文字编辑器
                        obj.inputText='图片比例 - 1:2 400x200';
                        model.find('.modalbody').append(obj.Dropify('文章图片：', 'article_pic',''));//添加了一个文字编辑器
                        obj.inputText='';

                        $('.article_pic').dropify({
                            messages: {'default': '点击上传图片','replace': '点击图片上传替换图片','remove':'删除图片','error':'Ooops, something wrong appended.'}}
                        ).on('dropify.beforeClear',function(event, element) {

                                    return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                        });
                        $('.article_show').dropify({
                            messages: {'default': '点击上传图片','replace': '点击图片上传替换图片','remove':'删除图片','error':'Ooops, something wrong appended.'}}
                        ).on('dropify.beforeClear',function(event, element) {

                            return confirm("Do you really want to delete \"" + element.filename + "\" ?");
                        });
                        obj.treeConf = {
                            'child': 'child',        //option 数组 子键
                            'pkey': 'column_pid',    //option 数组 父字段
                            'key': 'column_id',      //option 数组 主字段
                            'name': 'col_name',      //option 数组 标题字段
                            'def': data.column_id,   //option 数组 默认值
                        },
                        model.find('.modalbody').append(obj.select2('栏目：','column_id',obj.getTree(data.col),'选择产品分类','','multiple'));//添加了一个文字编辑器
                        $('#column_id').select2();
//                        model.find('.modalbody').append(obj.inputC('浏览量：', 'page_view', data.page_view));
                        model.modal();
                        App.unblockUI();
                        ComponentsEditors.init();
                        $.e_validate.init('#add-address', {modal: model, ignore: ''});
                    })
                })
            });

    </script>

    </div>
    <script type="text/javascript">
        $(function(){


            var model = $('#add-modal');

            $('.edit-btn').live('click', function(){
                var url = $(this).attr('href');
                l_blockUI();
                $.ajax(url, {
                    dataType:'json',
                    type:'post',
                    error:function(){
                        show_message({status:0, info:'请求超时'});
                        App.unblockUI();
                    },
                    timeout:60000,
                    success:function(data,textStatus,jqXHR){

                        if(data.info){
                            show_message(data);
                            return;
                        }

                        model.find('.modal-title').html('编辑信息  - '+data.nickname );
                        //model.find('.user_id').val(data.user_id);
                        model.find('.is_admin'+data.is_admin).attr('checked','true');//设置默认状态
                        model.find('.sex'+data.sex).attr('checked','true');//设置默认状态
                        //读取部门列表
                        model.find('.user_section').html(getSection(data.section));
                        model.find('.has-error').removeClass('has-error').find('.validate_message').remove();
                        model.find('#pic').removeClass('required');
                        model.find('.show_message_error').remove();
                        for(var k in data){
                            if(k == 'icon'){
                                model.find('#icn-img').attr('src', data.icon);
                            }else{
                                model.find('[name="'+k+'"]').val(data[k]);
                            }
                        }
                        model.find('#pic').val('');
                        model.modal();
                        App.unblockUI();
                    }
                });
                return false;
            });
            $.e_validate.init('#add-form',{modal:model,ignore:''});
        });

        function getSection(arr,a) {
            var str='';
            for(var i=0;i<arr.length;i++) {
                if (typeof(arr[i]) == 'object') {
                    if(typeof(arr[i]['child']) =='object'){
                        if(arr[i]['section_pid']=='0'){
                            str+='<option selected="true" value="'+arr[i]['section_id']+'">'+arr[i]['sec_name']+'</option>'+getSection(arr[i]['child'],2);
                        }else{
                            str+='<option selected="true" value="'+arr[i]['section_id']+'">'+space(a)+arr[i]['sec_name']+'</option>'+getSection(arr[i]['child'],a+2);
                        }
                    }else{
                        str+='<option selected="true" value="'+arr[i]['section_id']+'">'+space(a)+arr[i]['sec_name']+'</option>';
                    }
                }
            }
            return str;
        }
        function space(a) {
            var str='';
            for (var i=0;i<a;i++){
                str+='　';
            }
            return str;
        }
    </script>



    <!-- END CONTENT -->
    <!-- END CONTENT -->
  <script type="text/javascript">
      //图片点击后的方法
      function uploadpic(val) {
          $('input[name=pic]').val(val);
      }
      function data_pick(id){
          var myDate = new Date();
          $('#'+id).daterangepicker({
              singleDatePicker: true,
              showDropdowns: true,
              minDate:myDate.getFullYear()+'-'+myDate.getMonth()+'-'+myDate.getDate(),
              maxDate:'2030-01-01',
              format: 'YYYY-MM-DD',
              locale : {
                  applyLabel : '确定',
                  cancelLabel : '取消',
                  fromLabel : '起始时间',
                  toLabel : '结束时间',
                  customRangeLabel : '自定义',
                  daysOfWeek : [ '日', '一', '二', '三', '四', '五', '六' ],
                  monthNames : [ '一月', '二月', '三月', '四月', '五月', '六月','七月', '八月', '九月', '十月', '十一月', '十二月' ],
                  firstDay : 1
              }
          });


      }

		$(function(){
			datatable_init({
				src: $("#datatable"),
				sAjaxSource: "{:U('getList')}",
	            aoColumns:[{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false},{bSortable:false}],
			});

        });

	</script>

</div>

</body>
</html>