<include file="Public:header"/>
<style type="text/css">
	div .radio-inline:nth-child(2), div .checkbox-inline:nth-child(2) {
	    margin-left: 10px;
	}
    .checkmod{margin-bottom: 0;}
    .checkmod dt{background: #ccc;padding: 1px 0 1px 40px;}
    .rule_check{margin-left: 20px;padding-left: 40px;}
    .rule_check label{font-weight: 100;}
    .child_row{margin-left: 20px;display: block;}
    .child_row label{display: block;float: left;margin:0 40px 0 0;font-weight: 100;}
    .child_row .checkbox+.checkbox{margin-top: 0;}
    .child_row:after{clear: both;content:"";display: block;}
    .submit-btn{float:left;margin-right: 20px;}
    dl {
	    margin-bottom: 20px;
	    margin-top: 10px;
	}
</style>
<div class="page-container"> 
  <!-- BEGIN SIDEBAR --> 
  <include file="Public:sidebar" /> 
  <!-- END SIDEBAR --> 
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12"> 
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> 访问授权 - {:I('group_name')} </h3>
          <ul class="page-breadcrumb breadcrumb">
          	<li class="btn-group"> <a href="{:U('AuthManager/index')}" class="btn default"><i class="fa fa-chevron-left"></i> 返回</a> </li>
            <li> <a href="javascript:void(0);"> 用户 </a> <i class="fa fa-angle-right"></i> </li>
            <li> <a href="{:U('AuthManager/index')}"> 权限管理 </a> <i class="fa fa-angle-right"></i></li>
            <li> 访问授权</li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <div class="row">
				<div class="col-md-12">
					<!-- BEGIN VALIDATION STATES-->
					<div class="portlet box">
						<div class="portlet-body form">
							<!-- BEGIN FORM-->
							<form action="{:U('AuthManager/writeGroup')}" class="form-horizontal" method="post">
								<div class="form-body">
									<volist name="node_list" id="node" >
				                        <dl class="checkmod">
				                            <dt class="hd">
				                                <label class="checkbox"><input class="auth_rules rules_all" type="checkbox" name="rules[]" value="<?php echo $main_rules[$node['url']] ?>">{$node.title}管理</label>
				                            </dt>
				                            <dd class="bd">
				                                <present name="node['child']">
				                                    <volist name="node['child']" id="child" >
				                                        <div class="rule_check">
				                                            <div>
				                                                <label class="checkbox" <notempty name="child['tip']">title='{$child.tip}'</notempty>>
				                                                <input class="auth_rules rules_row" type="checkbox" name="rules[]" value="<?php echo $auth_rules[$child['url']] ?>"/>{$child.title}
				                                                </label>
				                                            </div>
				                                            <notempty name="child['operator']">
				                                                <!-- <span class="divsion">&nbsp;</span> -->
				                                               <span class="child_row">
				                                                   <volist name="child['operator']" id="op">
				                                                       <label class="checkbox" <notempty name="op['tip']">title='{$op.tip}'</notempty>>
				                                                       <input class="auth_rules" type="checkbox" name="rules[]"
				                                                              value="<?php echo $auth_rules[$op['url']] ?>"/>{$op.title}
				                                                       </label>
				                                                   </volist>
				                                               </span>
				                                            </notempty>
				                                        </div>
				                                    </volist>
				                                </present>
				                            </dd>
				                        </dl>
				                    </volist>
								</div>
								<div class="form-actionsc fluid" style="margin-top:20px;">
									<div class="col-md-offset-4 col-md-9">
										<input type="hidden" name="id" value="{$this_group.id}" />
										<button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
										<a href="{:U('AuthManager/index')}" class="btn default"><i class="fa fa-chevron-left"></i> 返回</a>
									</div>
								</div>
							</form>
							
							
							<!-- END FORM-->
						</div>
					</div>
					<!-- END VALIDATION STATES-->
				</div>
			</div>
    </div>
  </div>
  <!-- END CONTENT --> 
</div>
<script type="text/javascript">
	$(function(){
		 $.e_validate.init('.form-horizontal',{});
	});
</script>
<script type="text/javascript" charset="utf-8">
    $(function(){
        var rules = [{$this_group.rules}];//选中的value
        $('.auth_rules').each(function () {
            if ($.inArray(parseInt(this.value, 10), rules) > -1) {
                $(this).prop('checked', true);
            }
            if (this.value == '') {
                $(this).closest('span').remove();
            }
        });
        //全选节点
        $('.rules_all').on('change', function () {
            $(this).closest('dl').find('dd').find('input').prop('checked', this.checked);
        });
        $('.rules_row').on('change', function () {
            $(this).closest('.rule_check').find('.child_row').find('input').prop('checked', this.checked);
        });
    });

    $('.ajax-post').click(function(){
        var target,query,form;
        var target_form = $(this).attr('target-form');
        var that = this;
        var nead_confirm=false;
        if( ($(this).attr('type')=='submit') || (target = $(this).attr('href')) || (target = $(this).attr('url')) ){
            form = $('.'+target_form);

            if ($(this).attr('hide-data') === 'true'){
                form = $('.hide-data');
                query = form.serialize();
            }else if (form.get(0)==undefined){
                return false;
            }else if ( form.get(0).nodeName=='FORM' ){
                if ( $(this).hasClass('confirm') ) {
                    if(!confirm('确认要执行该操作吗?')){
                        return false;
                    }
                }
                if($(this).attr('url') !== undefined){
                    target = $(this).attr('url');
                }else{
                    target = form.get(0).action;
                }
                query = form.serialize();
            }else if( form.get(0).nodeName=='INPUT' || form.get(0).nodeName=='SELECT' || form.get(0).nodeName=='TEXTAREA') {
                form.each(function(k,v){
                    if(v.type=='checkbox' && v.checked==true){
                        nead_confirm = true;
                    }
                })
                if ( nead_confirm && $(this).hasClass('confirm') ) {
                    if(!confirm('确认要执行该操作吗?')){
                        return false;
                    }
                }
                query = form.serialize();
            }else{
                if ( $(this).hasClass('confirm') ) {
                    if(!confirm('确认要执行该操作吗?')){
                        return false;
                    }
                }
                query = form.find('input,select,textarea').serialize();
            }
            $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
            $.post(target,query).success(function(data){
                alertMsg("提示信息","修改成功",1);
            });
        }
        return false;
    });


</script>
</body>
</html>