<include file="Public:header" />
<div class="page-container">
	<!-- BEGIN SIDEBAR -->
	<include file="Public:sidebar" />
	<!-- END SIDEBAR -->
	<!-- BEGIN CONTENT -->
	<div class="page-content-wrapper">
		<div class="page-content">
			<!-- BEGIN PAGE HEADER-->
			<div class="row">
				<div class="col-md-12">
					<!-- BEGIN PAGE TITLE & BREADCRUMB-->
					<h3 class="page-title">{$title}</h3>
					<ul class="page-breadcrumb breadcrumb">
						<li><a href="javascript:void(0);"> 会员管理 </a> <i
							class="fa fa-angle-right"></i></li>
						<li>{$title}</li>
						<li class="btn-group">
							<a class="btn default return ml_5" style="margin-left: 5px;" href="{:U('index')}">
								<i class="fa fa-chevron-left"></i> 返回
							</a>
						</li>
					</ul>
					<!-- END PAGE TITLE & BREADCRUMB-->
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<ul class="list-unstyled profile-nav">
						<li><img src="{$info['headimgurl']}" class="img-responsive"
							alt=""></li>
					</ul>
				</div>
				<div class="col-md-10">
					<div class="row">
						<div class="col-md-9 profile-info">
							<div class="row">
								<div class="col-md-12">
									<div
										style="border: 1px solid #ddd; padding: 10px; margin-bottom: 30px;">
										<div class="row">
											<div class="col-md-12">
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">昵称：</label>
															<div class="col-md-9 text-val">{$info.nickname}</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">性别：</label>
															<div class="col-md-9 text-val">{$info['sex'] == 1?'男':'女'}</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">地址：</label>
															<div class="col-md-9 text-val">
																<div class="radio-inline" style="padding-left: 0;">
																	<label style="margin-bottom: 0;">{$info.country}{$info.province}{$info.city}</label>
																</div>
															</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">是否关注：</label>
															<div class="col-md-9 text-val">{$info['subscribe'] == 1?'已关注':'未关注'}</div>
														</div>
													</div>
													
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">关注时间：</label>
															<div class="col-md-4 text-val">{$info.subscribe_time|date="Y-m-d H:i:s",###}</div>
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="col-md-3 control-label text-label">创建时间：</label>
															<div class="col-md-4 text-val">{$info.addtime|date="Y-m-d",###}
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end col-md-8-->
						<div class="col-md-3">
							<div class="portlet sale-summary">
								<div class="portlet-body">
									<ul class="list-unstyled">
										<!--  <li>
                                <span class="sale-info">
                                    总库存
                                </span>
                                <span class="sale-num">
                                     0
                                </span>
                            </li>
                            -->
									</ul>
								</div>
							</div>
						</div>
						<!--end col-md-4-->
					</div>
					<!--end row-->
					<div class="tabbable tabbable-custom tabbable-custom-profile">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab_2" data-toggle="tab"> 关注列表 </a></li>
						</ul>
						<include file="Public:model" />
						<div class="tab-content">
							<!--tab-pane-->
							<div class="tab-pane active" id="tab_2">
								<div class="portlet-body">
									<div class="portlet">
										<div class="portlet-body" style="margin-top: 10px;">
										
											<div class="table-container">
												<div class="table-actions-wrapper">
													<span> </span>
												</div>
												<table class="table table-bordered table-hover"
													id="datatable" style="font-size: 13px">
													<thead>
														<tr role="row" class="heading">
															<th width="46px" sort="false">
															ID
															</th>
															<th >标题</th>
															<th width="100px" desc="true">用户</th>
															<th width="100px" sort="false">类型</th>
															<th width="150px" sort="false">创建时间</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--tab-pane-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTENT -->
	<script type="text/javascript">
		$(function(){
			datatable_init({
				src: $("#datatable"),
				sAjaxSource: "{:U('Member/getScList/id/'.$_GET['id'])}",
	            aoColumns:[
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	{bSortable:false},
	            	],
			});
			
			$('.select-batch').change(function(){
                var type = $(this).val();
                var val=[];
                var oB = $('.checkable');
                for(var i = 0;i<oB.length;i++){
                    if(oB[i].checked){
                        val.push(oB[i].value);
                    }
                }
                msg=['确定要删除已选数据么？'];
                console.log(val);


                Smelly.confirmAlert("{:U('checkedReply')}",msg[type-1],{val:val,type:type},function(data){
                    console.log(data);
                });
                $(".select-batch option[value='0']").attr("selected", true);//设置选中
            })
            
    		$('.remaks-item').live('focus', function(){
    			$(this).css('height', '150px');
    		});
    		$('.remaks-item').live('blur', function(){
    			$(this).css('height', '22px');
    		});
		});
	</script>
</div>
</body>
</html>