<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
		<title></title>
		<link rel="stylesheet" href="__HOME__/css/swiper.min.css" />
		<script type="text/javascript" src="__HOME__/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="__HOME__/js/swiper.min.js"></script>
		<link rel="stylesheet" href="__HOME__/css/main.css" />
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/tongyong/style/tongyong.css">
		
		<style type="text/css">
		.warps-textCons {
			    text-align: center;
			    padding: 0em 0 1em 0;
			}
			.warps-textCons img {
			    width: 35%;
			}
			.warps-textCons h1 {
			    font-size: 0.9em;
			}
		</style>
	</head>
	<body>
		<div class="swiper-container swiper-container-horizontal">
			<div class="swiper-wrapper">
				<volist name="shows" id="vo" >
					<div class="swiper-slide swiper-slide-active" style="width: 414px;">
						<a href="{$vo.url}">
						<img src="{$vo.show_url}" style="height: 183.33px;width: 100%;"/>
						</a>
					</div>
				</volist>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
			<span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
			<span class="swiper-pagination-bullet"></span>
			<span class="swiper-pagination-bullet"></span>
			</div>

		</div>

		<div class="user-top1">
			<ul>
				<li class="l1">
					<a href="{:U('recent/index')}"><i><img src="__HOME__/img/5.png" width="18" height="18"/></i>
						<p>近期直播</p>
					</a>
				</li>
				<li>
					<a href="{:U('recent/past')}"><i><img src="__HOME__/img/4.png" width="18" height="18"/></i>
						<p>往期回顾</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="floor2-i3">
			<h3>正在直播</h3>
			
		</div>
		
		<volist name="lists" id="vo" key="k">
			<if condition="($k) eq $total">
				<div class="floor4" onclick="location='http://e.vhall.com/{$vo.webinar_id}'">
					<div class="imgone">
						<if condition="$vo.is_thumb eq 1">
							<img src="{$vo.thumb}"  width="100%" style="max-height: 190px;width:337.5px;height:190px;"/>
						<else/>
							<div
								style="background: #f1f1f1; height: 200px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;">
								<img src="__HOME__/img/22.png" style="width: 35%;" />
							</div>
						</if>
						<div class="guanzhu">
							<a href=""><img src="__HOME__/img/zhibo.png" width="14" height="14" /></a>
							<span>直播中</span>
						</div>
					</div>
					<div class="exp">
						<p class="bo1">{$vo.subject}</p>
						<p class="bo2">{$vo.desc}</p>
						<p class="bo3">直播时间：{$vo.start_time}</p>
					</div>
				</div>
			<else/>
				<div class="floor3" onclick="location='http://e.vhall.com/{$vo.webinar_id}'">
					<div class="imgone">
						<if condition="$vo.is_thumb eq 1">
							<img src="{$vo.thumb}"  width="100%" style="max-height: 190px;width:337.5px;height:190px;"/>
						<else/>
							<div
								style="background: #f1f1f1; height: 200px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;">
								<img src="__HOME__/img/22.png" style="width: 35%;" />
							</div>
						</if>
						<div class="guanzhu">
							<a href=""><img src="__HOME__/img/zhibo.png" width="14" height="14" /></a>
							<span>直播中</span>
						</div>
					</div>
					<div class="exp">
						<p class="bo1">{$vo.subject}</p>
						<p class="bo2">{$vo.desc}</p>
						<p class="bo3">直播时间：{$vo.start_time}</p>
					</div>
				</div>
			</if>
		</volist>
		<?php if(!$lists){?>
			<section>
			    <div id="body-container">
			        <div class="warps-textCons">
			            <img src="__PUBLIC__/tongyong/images/png/11.png"/>
			            <h1>暂无相关直播</h1>
			        </div>
			    </div>
			</section>
		
		<?php }?>
		<!-- <div class="floor4">
			<div class="imgone">
				<a href=""><img src="__HOME__/img/2.png" width="100%" /></a>
				<div class="guanzhu">
					<a href=""><img src="__HOME__/img/zhibo.png" width="14" height="14" /></a>
					<span>直播中</span>
				</div>
				
			</div>
			<div class="exp">
				<p class="bo1">华邦直播首次开播，不容你错过</p>
				<p class="bo2">广播电视词典对直播界定为“广播电视节目的后期(haobc)合成、播出同时进行的播出方式”。按播出场合可分为现场直播和播音室或演播室直播等形式...</p>
				<p class="bo3">直播时间：2017-03-13 15:23:20</p>
			</div>

		</div> -->
		<include file="Public:footer"/>
		<script>
			var swiper = new Swiper('.swiper-container', {
				pagination: '.swiper-pagination',
				paginationClickable: true
			});
		</script>

	</body>

</html>