<div class="page-footer">
    <div class="page-footer-inner">
        <a href="">关于我们</a>
        <a href="">系统动态</a>
        <a href="">合作伙伴</a>
        <a href="">加入我们</a>
        <a href="">联系我们</a>
        <a href="">条款规定</a>
        <a href="">网站地图</a>
        <a href="">投诉举报</a>
    </div>
</div>

<!--[if lt IE 9]>
<script src="__JS__/respond.js"></script>
<script src="__JS__/excanvas.js"></script>
<![endif]-->
<script src="__JS__/jquery-migrate.min.js" type="text/javascript"></script>
<script src="__JS__/jquery-ui.min.js" type="text/javascript"></script>
<script src="__JS__/bootstrap.min.js" type="text/javascript"></script>
<script src="__JS__/jquery.slimscroll.min.js" type="text/javascript"></script><!--滚动条js-->
<script src="__JS__/jquery.cokie.min.js" type="text/javascript"></script><!--cookie js-->
<script src="__JS__/global.js" type="text/javascript"></script>
<script src="__JS__/layout.js" type="text/javascript"></script>
<script src="__JS__/addClass.js" type="text/javascript"></script>
<script src="__JS__/oter.js" type="text/javascript"></script>
<!-- 核心js end -->
<script>
    jQuery(document).ready(function () {
        Global.init();
        Layout.init();
    });
</script>