<div class="footer">
			<div class="ftt">
				<a href="{:U('index/index')}">
					<if condition="CONTROLLER_NAME eq 'Index'">
						<i><img src="__HOME__/img/foot1.png" width="20" height="20"/></i>
						<p class="ftp1">课程直播</p>
					<else/>
						<i><img src="__HOME__/img/i2-1.png" width="20" height="20"/></i>
						<p>课程直播</p>
					</if>
				</a>
			</div>
			<div class="ftt boot1">
				<a href="{:U('answer/index')}">
					<if condition="CONTROLLER_NAME eq 'Answer'">
						<i><img src="__HOME__/img/pic32.png" width="20" height="20"/></i>
						<p class="ftp1">有问"邦"解答</p>
					<else/>
						<i><img src="__HOME__/img/foot2.png" width="20" height="20"/></i>
						<p>有问"邦"解答</p>
					</if>
				</a>
			</div>
			<div class="ftt boot2">
				<a href="{:U('review/index')}">
					<if condition="CONTROLLER_NAME eq 'Review'">
						<i><img src="__HOME__/img/pic33.png" width="22" height="20"/></i>
						<p class="ftp1">往期精彩回顾</p>
					<else/>
						<i><img src="__HOME__/img/foot3.png" width="22" height="20"/></i>
						<p>往期精彩回顾</p>
					</if>
				</a>
			</div>
			<div class="ftt boot3">
				<a href="{:U('user/index')}">
					<if condition="CONTROLLER_NAME eq 'User'">
						<i><img src="__HOME__/img/i2-4.png" width="20" height="20"/></i>
						<p id="noc">我的</p>
					<else/>
						<i><img src="__HOME__/img/rentou.png" width="20" height="20"/></i>
						<p id="noc">我的</p>
					</if>
				</a>
			</div>
		</div>