<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>{$info.title}</title>
    <link rel="stylesheet" type="text/css" href="__HOME__/about/base.css"/>
	<style>
		.fonts{padding:1rem;}
	</style>
</head>
<body>
	<div class="logobox mt20 mb20">
		<img style="width:40%;" class="m0a" src="__HOME__/about/img/logo.png" />
		<h1 class="tc f14 mt5"></h1>
	</div>
	<div class="fonts bag1">
		{$info.content}

	</div>
</body>