<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/style.css" />
		<script type="text/javascript" data-main="__HOME__/about/js/cont" src="__HOME__/about/js/require.js"></script>
	</head>
	<body>
		
		<div id="header" class="market">
		  <div class="swiper-wrapper">
		    <div class="swiper-slide active">制剂药</div>
		    <div class="swiper-slide">原料药</div>
		    <div class="swiper-slide">原料药</div>
		    <div class="swiper-slide">原料药</div>
		    <div class="swiper-slide">原料药</div>
		    <div class="swiper-slide">原料药</div>
		  </div>
		</div>
		
		<div class="drug">
			<div class="drug-img fl">
				<img src="__HOME__/about/img/jpg/pic19.jpg"/>
			</div>
			<div class="drug-list">
				<div class="drug-text">
					<h2>阿维A胶囊</h2>
					<p>通用名称：阿维A胶囊</p>
					<p>商品名称：方希®</p>
					<p>英文名称：Acitretin Capsules</p>
				</div>
				<h6></h6>
			</div>
			<h6></h6>
		</div>
		<div class="drug">
			<div class="drug-img fl">
				<img src="__HOME__/about/img/jpg/pic20.jpg"/>
			</div>
			<div class="drug-list">
				<div class="drug-text">
					<h2>维胺酯胶囊</h2>
					<p>通用名称：维胺酯胶囊</p>
					<p>英文名称：Viaminate Capsules</p>
					<p>汉语拼音：Wei’anzhi Jiaonang</p>
				</div>
				<h6></h6>
			</div>
		</div>
		<div class="drug">
			<div class="drug-img fl">
				<img src="__HOME__/about/img/jpg/pic21.jpg"/>
			</div>
			<div class="drug-list">
				<div class="drug-text">
					<h2>异维A酸软胶囊</h2>
					<p>通用名称：异维A酸软胶囊 </p>
					<p>英文名称：Isotretinoin Soft Capsules</p>
					<p>汉语拼音：Yiwei A Suan Ruanjiaonang</p>
				</div>
				<h6></h6>
			</div>
		</div>
		<div class="drug">
			<div class="drug-img fl">
				<img src="__HOME__/about/img/jpg/pic22.jpg"/>
			</div>
			<div class="drug-list">
				<div class="drug-text">
					<h2>复方氨肽素片</h2>
					<p>通用名称：复方氨肽素片</p>
					<p>英文名称：Tazarotene Gel</p>
					<p>汉语拼音：Fufang Antaisu Pian</p>
				</div>
				<h6></h6>
			</div>
		</div>
	</body>
</html>
