<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/style.css" />
		<script type="text/javascript" data-main="__HOME__/about/js/cont" src="__HOME__/about/js/require.js"></script>
		<style type="text/css">
		.market-text p{
			font-family:initial;
		}
		</style>
	</head>
	<body>
		<div class="market">
			<div class="market-title">
				<div class="tit-img fl">
					<img src="__HOME__/about/img/png/pic7.png"/>
				</div>
				<h2>{$info.title}</h2>
				<p>{$info.addtime|date="Y-m-d",###}</p>
				<h6></h6>
			</div>
			<div class="market-text">
				{$info.content}
			</div>
		</div>
	</body>
</html>
