<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>联系我们</title>
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/base.css" />
		<link rel="stylesheet" type="text/css" href="__HOME__/about/css/style.css" />
		<script type="text/javascript" data-main="__HOME__/about/js/cont" src="js/require.js"></script>
	</head>
	<body>
		<div class="map">
			<div class="map-img">
		<div class="introduce-text">
			{$info.content}
		</div>
			
<!-- 				<img src="__HOME__/about/img/jpg/pic3.jpg"/> -->
<!-- 				<ul class="address">
					<li>
						<label>地址：</label>
						<span>重庆市渝北区星光大道69号</span>
					</li>	
					<li>
						<label>邮编：</label>
						<span>401121</span>
					</li>
					<li>
						<label>公司行政邮箱：</label>
						<span>service@huapont.cn</span>
					</li>
					<li>
						<label>国贸专用邮箱：</label>
						<span>api@huapont.cn</span>
					</li>
				</ul> -->
			</div>
		</div>
	</body>
</html>
