<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/tongyong/style/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/tongyong/style/tongyong.css">
    <script type="text/javascript" src="__PUBLIC__/tongyong/js/jquery.min.js"></script>
</head>
<body style="background: #ffffff;">
<header>
</header>
<section>
    <div id="body-container">
        <div class="warps-textCons">
            <img src="__PUBLIC__/tongyong/images/png/11.png"/>
            <h1>暂无相关信息</h1>
            <a href="{:U('user/index')}" class="btn">返回</a>
        </div>
    </div>
</section>
<footer>
</footer>
</body>
</html>