<include file="Public:header"/>
<style type="text/css">
	div .radio-inline:nth-child(2), div .checkbox-inline:nth-child(2) {
	    margin-left: 10px;
	}
</style>
<div class="page-container"> 
  <!-- BEGIN SIDEBAR --> 
  <include file="Public:sidebar" /> 
  <!-- END SIDEBAR --> 
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12"> 
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> 更新密码 </h3>
          <ul class="page-breadcrumb breadcrumb">
          	<li class="btn-group"> <a href="{:U('User/index')}" class="btn default"><i class="fa fa-chevron-left"></i> 返回</a> </li>
            <li> 网站设置<i class="fa fa-angle-right"></i></li>
            <li> 更新密码</li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <div class="row">
			<div class="col-md-12">
				<!-- BEGIN VALIDATION STATES-->
				<div class="portlet box">
					<div class="portlet-body form">
						<!-- BEGIN FORM-->
						<form action="" class="form-horizontal" method="post">
							<div class="panel-body">
						

							<div class="form-group">
								<label class="col-sm-3 control-label">原密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="old" name="old" autocomplete="off">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">新密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="password" name="password" autocomplete="off">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">新密码：</label>
								<div class="col-sm-4">
									<input type="password" class="form-control" id="repassword" name="repassword" autocomplete="off">
								</div>
							</div>
					
					</div>
							<div class="form-actionsc fluid">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn green"><i class="fa fa-save"></i> 保存</button>
									<a href="{:U('User/index')}" class="btn default"><i class="fa fa-chevron-left"></i> 返回</a>
								</div>
							</div>
						</form>
						<!-- END FORM-->
					</div>
				</div>
				<!-- END VALIDATION STATES-->
			</div>
		</div>
    </div>
  </div>
  <!-- END CONTENT --> 
</div>
<script type="text/javascript">
	$(function(){
		 $('.form-horizontal').submit(function(){
			 $.ajax({  
	                type: "POST",  
	                url:"{:U('User/setnewpassword')}",  
	                data:$(this).serialize(),// 序列化表单值  
	                async: false,  
	                error: function(request) {  
	                    alert("Connection error");  
	                },  
	                success: function(data) {  
	                   if(data.status){
	                	   show_message({status:data.status, info:data.info}); 
	                   }else{
	                	   show_message({status:0, info:data.info}); 
	                   }
	                }  
	            });  
			 return false;
		 })
	});
</script>
</body>
</html>