<include file="Public:header"/>
<div class="page-container"> 
  <!-- BEGIN SIDEBAR --> 
  <include file="Public:sidebar" /> 
  <!-- END SIDEBAR --> 
  <!-- BEGIN CONTENT -->
  <div class="page-content-wrapper">
    <div class="page-content"> 
      <!-- BEGIN PAGE HEADER-->
      <div class="row">
        <div class="col-md-12"> 
          <!-- BEGIN PAGE TITLE & BREADCRUMB-->
          <h3 class="page-title"> {$title}  </h3>
          <ul class="page-breadcrumb breadcrumb">
            <li> <a href="javascript:void(0);"> 往期回顾 </a> <i class="fa fa-angle-right"></i> </li>
            <li> {$title} </li>
          </ul>
          <!-- END PAGE TITLE & BREADCRUMB--> 
        </div>
      </div>
      <!--BEGIN BODY-->
            <include file="Public:model" />
            <include file="Public:NesTable" title="分类" menu="添加往期回顾分类" tup="1" icon="1"/>
            <!--END BODY-->
    </div>
  </div>
 
</div>
</body></html>